*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main{
    background-color:red;
    width: 100%;
    height: 100vh;
    position: relative;
}
.parent{
    /* height: 10px; */
    left: 50%;
    bottom: 100px;
    /* width: 10px; */
    /* color: white; */
    position: absolute;
    flex-wrap: wrap;
    justify-content: center;    
}
.button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
    text-shadow: 100px;
    background-color: white;
    border-radius: 10px;
    padding-left: 2px;
    padding-right: 2px;
}
button{
    cursor: pointer;
    font-size: 20px;
    border: none;
    height: 30px;
    width: 50px;
    border-radius: 10px;
    background-color: red;
    color: black;
}